@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
body {
  background: url("https://i.imgur.com/7LvmzEV.jpg") no-repeat center center
    fixed;
  background-size: cover;
  font-family: "Indie Flower", cursive;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: #836953;
  justify-content: center;
  align-items: center;
  order: 1;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  order: 2;
}
.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  border: 2px solid #000;
}
#reset-button {
  background-color: #69533f;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  font-size: 13px;
  display: block;
  margin: 0 auto;
  margin-top: 450px;
  order: 4;
}
#message {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  margin-bottom: 20px;
  order: 3;
}
@media only screen and (max-width: 600px) {
  /* ... */
}
@media only screen and (max-width: 480px) {
  /* ... */
}
@media only screen and (max-width: 768px) {
  /* ... */
}
